
/* import { motion } from "motion/react" */


.searchingComponent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 6.5rem;
}

.searchInput{
    padding: 8px;
    background-color: rgba(245, 245, 245, 0.934);
    width: 16rem;
    border: 1px solid rgba(255, 255, 255, 0.74);
    border-radius: 10px;
    outline: none;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.837);
    transition: all 0.3s ease;
}
.searchInput:focus {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

.searchButton{
    padding: 0.8rem;
    background-color: rgba(245, 245, 245, 0.934);
    width: 60px;
    border: 1px solid rgba(255, 255, 255, 0.74);
    border-radius: 20%;
    margin-top: 3rem;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.837);
    transition: all 0.3s ease;
}

.book-authors{
    font-size: 14px;
    margin: 0.5rem 0;
}

.book-categories{
    font-weight: lighter;
}

/* TABLETS */
@media (min-width: 768px){

.searchingComponent{
   margin-top: 8.5rem;
}

.searchInput{
    padding: 15px;
    width: 20rem;
}

}



/* ESCRITORIOS */
@media (min-width: 1025px){
        
    .searchingComponent{
        text-align: center;
        margin-top: 50px;
    }


    .searchInput{
        padding: 6px;
        background-color: rgba(245, 245, 245, 0.796);
        width: 360px;
        border: 1px solid rgba(85, 85, 85, 0.74);
        border-radius: 10px;
        box-shadow: 0 0 8px rgba(255, 255, 255, 0.837);
        transition: all 0.3s ease;
        outline: none;
    }
    .searchInput:hover{
        background-color: rgba(249, 249, 249, 0.796);
        border: 1px solid rgba(0, 0, 0, 0.74);
    }
    .searchInput:focus {
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.897);
    }

    .searchButton{
        padding: 8px;
        background-color: rgba(245, 245, 245, 0.796);
        margin-left: 12px;
        width: 60px;
        border: 1px solid rgba(0, 0, 0, 0.74);
        border-radius: 8px;
        /* border-style: none; */
    }
 


}


/* MONITORES */
@media (min-width: 1440px){



}




