/* === CSS DEL NAVBAR - MOBILE & TABLET FIRST === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navBar {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
  border-radius: 0 0 20% 20%;
  
}

a {
  text-decoration: none;
  font-size: 18px;
  color: black;
  font-family:monospace;
  font-weight: lighter;

}

.hamburger {
  background: rgba(255, 255, 255, 0.893);
  padding: 10px 10px 10px 10px;
  display: block;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 10;
  margin-left: 0.75rem;
  border-radius: 0 0 30% 30%;
}

.ulList {
  list-style: none;
  flex-direction: column;
  gap: 1.2rem;
  position: absolute;
  top: 100%;
  left: 0;
  background: linear-gradient(to top, rgba(231, 231, 231, 0.866)60%, rgba(250, 250, 250, 0));
  width: 100%;
  padding: 0;
  border-radius: 0 0 8px 8px;
  z-index: 9999;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  display: flex;
  transition: max-height 0.4s ease, padding 0.3s ease, opacity 0.3s ease;
}


/* Mostrar el menú cuando se clicke */
.ulList.open {
  max-height: 60rem;
  padding: 1rem;
  opacity: 1;
  pointer-events: auto;
  background: linear-gradient(to top, rgba(231, 231, 231, 0.866)60%, rgba(250, 250, 250, 0));

}

.logo {
  display: none;
  font-family: "Cormorant Garamond", system-ui;
  font-weight: bold;
  background-color: rgba(210, 200, 177, 0.677);
  border-radius: 15px;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
}

li {
  font-weight: bolder;
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin: 0 0.4rem 0 0.4rem;
  background-color: rgba(189, 200, 204, 0.834);
  border-radius: 8%;
  
}

li:hover{
  transform: scale(1.06);
  transition: transform 0.3s ease;
}

.fa-bookmark {
  margin-right: 6px;
}

.logoutBtn {
  border: none;
  background: none;
  padding: 0.2rem 0.4rem;
  text-align: start;
  cursor: pointer;
}
.logoutBtn:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

@media (min-width: 760px) {

  .hamburger {
    background-color: rgba(157, 78, 78, 0.885);
    font-size: 30px;
  }

  .navBar {
    background: none;
    height: 3rem;
    justify-content: center;
  }

  .ulList {
    text-align: center;
    gap: 1.6rem;
    top: 1.5rem;
    margin-top: 1rem;
  }
  .ulList.open {
    background: linear-gradient(to top, rgba(157, 78, 78, 0.818) 90%, rgba(250, 250, 250, 0) 100%);
  }
  li{
    background: none;
  }
  
}

/* === ESCRITORIO (a partir de 1024px) === */
@media (min-width: 1024px) {
  .hamburger {
    display: none;
  }

  .navBar {
    height: 60px;
    position: relative;
  }

  .ulList {
    background: none !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    position: static;
    background-color: transparent;
    width: auto;
    padding: 0;
    max-height: none;
    opacity: 1;
    pointer-events: auto;
  }

  .logo {
    margin: 0 20rem 0 0rem;
    display: block;
  }

  li{
    background: none;
  }
}
