/* MÓVILES */

body {
  position: relative;
  margin: 0;
  padding: 0;
  background: none;
}

body::before {
  content: "";
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: url('/public/Library1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  z-index: -1;
}

/* TABLETS */
@media (min-width: 768px){

  body::before{
    background-image: url('/public/Library2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

}



/* ESCRITORIOS */
@media (min-width: 1025px){

 body::before {
    background-image: url('../assets/fondo2.png');
    opacity: 1;
    background-size: cover;
  }


}


/* MONITORES */
@media (min-width: 1440px){



}




/* @import "tailwindcss"; */